---
import PokemonCard from "../components/PokemonCard";
import Layout from "../components/Layout.astro";

const res = await fetch('http://localhost:8080/pokemon.json');
const pokemon = await res.json();

const q = Astro.url.searchParams.get("q")?.toLowerCase() ?? "";
const filteredPokemon = pokemon.filter((p) => p.name.toLowerCase().includes(q));
---

<Layout>
	<form>
		<input
			type="text"
			name="q"
			value={q}
			class="p-3 shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full sm:text-xl border-gray-300 border-2 rounded-md"
			placeholder="Search"
		/>
	</form>
	<div class="grid grid-cols-3 gap-5 mt-3">
		{filteredPokemon.slice(0, 10).map((p) => (
			<a href={`/pokemon/${p.id}`}>
				<PokemonCard pokemon={p}>
				</PokemonCard>
			</a>
		))}
	</div>
</Layout>
